.booking {
  background: #f5f5f5;
  padding: 5rem;
}

.booking__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.booking__content {
  /* width: 50%; */
  background-image: url(../img/folded-clothes.jpeg);
}