.home {
  background: url(../img/pattern_blue-1.jpg) no-repeat cover center fixed;
  height: 100vh;
  color:  #fff;
}

.home__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home__title {
  
}