.navigation {
    background-color: #fff;
    height: 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: .5rem 1rem;
}

.navigation__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}